.cupido-musical-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100vw;
    height: 100vh;
    /* margin: 5%; */
}

.cupido-musical-header{
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: space-around;
    margin: 5% 0;
}

.cupido-musical-header button{
    border: none;
    background-color: transparent;
}

.cupido-musical-submit{
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 16px;
    background: #424243;
    height: 50px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border-color: transparent;
}

.cupido-musical-image-like-dislike{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    margin: 25% auto 20% auto;
}

.cupido-musical-image img{
    display: flex;
    border-radius: 0px 48px;
    width: 80%;
    height: auto;
    margin: auto;
}

.like-cross-container{
    display: flex;
    gap: 20px;
    position: relative;
    bottom: 20px;    
}

.like button{
    border-radius: 32px;
    border: none;
    width: 64px;
    height: 64px;
    background: #FDFEFF;
    box-shadow: 2px 2px 4px 0px rgba(8, 8, 17, 0.08), 0px 0px 5.333333492279053px 0px rgba(8, 8, 17, 0.04);
    cursor: pointer;
}

.cross button{
    border-radius: 32px;
    border: none;
    width: 64px;
    height: 64px;
    background: #FDFEFF;
    box-shadow: 2px 2px 4px 0px rgba(8, 8, 17, 0.08), 0px 0px 5.333333492279053px 0px rgba(8, 8, 17, 0.04);
    cursor: pointer;
}

.hero-artist {
    width: 320px;
    color: var(--medios-tonos-gris-5, #26262E);
    text-align: center;
    font-family: Rubik;
    font-size: 20px;
    font-style: normal;
    font-weight: bolder;
    line-height: 28px;
    letter-spacing: 0.5px;
    }